$patchIn[../parts/header_news.part]

<div class="contentBox">
   
    <p>
        This news section was generated with the blogging feature!
    </p>

    <div class="newsBox">
	<h1>
		No news are also news
	</h1>
	<h2>
		11.1.2015
	</h2>

	
No news are also news.
	<div class="tags">
		Tags: no news, some news
	</div>
</div>

<div class="sep"></div>


</div>

$patchIn[../parts/footer.part]