$patchIn[../parts/header_news.part]

<div class="contentBox">
   
    <p>
        This news section was generated with the blogging feature!
    </p>

    <div class="newsBox">
	<h1>
		Random stuff
	</h1>
	<h2>
		17.2.2015
	</h2>

	
We implemented the random feature. A feature that includes random functionality on all levels! Please beware of malfunction!
	<div class="tags">
		Tags: feature
	</div>
</div>

<div class="sep"></div>


</div>

$patchIn[../parts/footer.part]