$patchIn[../parts/header_news.part]

<div class="contentBox">
   
    <p>
        This news section was generated with the blogging feature!
    </p>

    <h1>
	Das ist der erste Testpost
</h1>
<h2>
	17.2.2015
</h2>
<div class="newsBox">
	
BlaBlaBla content conten
	<div class="tags">
		test1,test2,test3
	</div>
</div>


</div>

$patchIn[../parts/footer.part]