$patchIn[../parts/header_news.part]

<div class="contentBox">
   
    <p>
        This news section was generated with the blogging feature!
    </p>

    <p>
    	The link to the archive of all news can be found <a href="archive.html">here</a>.
    </p>

    

    <a href="page2.html">Newer</a>  

</div>

$patchIn[../parts/footer.part]