$patchIn[parts/header.part]

<div class="contentBox">
    <p>
        Although some examples are provided here to clarify how to use RubySow the best and foremost reference for usage is this documentation itself. The whole process can be reproduced by checking out the documentation on <a href="https://github.com/SebastianSemper/RubySow/tree/master/doc" target="_blank">GitHub</a>.
    </p>
</div>

$patchIn[parts/footer.part]
