$patchIn[parts/header.part]

<div class="contentBox">
    <p>
        This is just a short sample Text and I want to make it as wide as possible to get an impression on how the text will eventually look like.
    </p>
</div>

$patchIn[parts/footer.part]
