$page_skel:news.skel
$post_skel:post.skel
$url:http://rubysow.sourceforge.net
$content_p:news
$posts_per_page:10
$extra_page:1
$archive:1
$rss:1
$rss_author:Sebastian Semper
$rss_title:RubySow
$rss_desc:News from RubySow
$backLink:<a href="%">Back</a>
$pastLink:<a href="%"><< Newer</a>
$nextLink:<a href="%">Older >></a>
