#input directory
$decVariable[inDir,in/]

#output directory
$decVariable[outDir,out/]

#lists of links and names in the menu
$decList[pagesLinks,index.html,about.html,features.html,manual.html,examples.html]
$decList[pagesTexts,Home,About,Features,Manual,Examples]

#tree containing all files
$readTree[$getVariable[inDir],*.*]

#command to process all *.rthml files in the file tree
$sowAll[$getVariable[outDir]]
