#input directory
$decVariable[inDir,in/]

#output directory
$decVariable[outDir,out/]

#lists of links and names in the menu
$decList[pagesLinks,index.html,about.html,features.html,manual.html,examples.html,news/page1.html]
$decList[pagesLinksNews,../index.html,../about.html,../features.html,../manual.html,../examples.html,page1.html]
$decList[pagesTexts,Home,About,Features,Manual,Examples,News]

#generate a blog
$genBlog[$getVariable[inDir],news.config]

#tree containing all files
$readTree[$getVariable[inDir],*.*]

#command to process all *.rthml files in the file tree
$sowAll[$getVariable[outDir]]
