<html>
    <head>
        <title>
            Sample Page
        </title>
        $fetchCSS[styles.css,otherstyles.css]
        $fetchJS[scripts.js,otherscripts.js]
    </head>
    <body>
        <ul>
            $dropLists[<li><a href="%">%</a></li>,$getList[pagesS],$getList[pagesL]]
        </ul>
